/* * Represents everything
	Set the box sizing on everything to border box
		Thus, margin and padding doesn't affect the width and height of the element */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Custom property/variable in a scope */
:root {
	/* --primary-color: #2e5898; */
	--primary-color: rgb(71, 125, 201);
	--light-color: rgb(238, 238, 238);
	/* --dark-color: #463e5e; */
	--dark-color: rgb(76, 62, 87);
	
	--tab-color: #c5a1d5;
	--tab-hcolor: #776b7c;
	
	--tab2-color: #e0bf71;
	--tab2-hcolor: #bd8745;
	
	--tab3-color: #71e08b;
	--tab3-hcolor: #45bd7d;
	
	--tab4-color: #71c8e0;
	--tab4-hcolor: #4577bd;
	
	/* Maybe */
	text-align: center;
}


/* Using downloaded font */
@font-face {
	font-family: "TWCenMTStd";
	src: url('../fonts/TWCenMTStd.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: "TWCenMTStd", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background: #fff;		/*  white   */
	
	overflow-x: hidden;		/* Hide horizontal scroll bar */
}

/* For links */
a {
	text-decoration: none;  /* No underline */
}

/* Unordered list */
ul {
	list-style: none;	/* No bullet points */
}

/* For images */
img {
	max-width: 100%;	/* Stays contained within a div */
}

/* --------------------------------------------- */
	/* Banner */
	.banner .container-full {
		background: url(../images/Banner2.jpg) no-repeat;
		background-size: cover;
		height: 500px;
		
		display: flex;
		align-items: center;
		justify-content: left;
	}
	
	.banner .banner-heading {
		font-size: 4rem;
		margin: 50px 0 0 350px;
		color: var(--light-color); 
	}
	
/* --------------------------------------------- */
	/* Project Tabs */
	.project-tabs {
		height: 80px;
		background: var(--light-color);
		
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.tab-clouds {
		position: absolute;
		margin-top: -170px;
		width: 100vw;
		
		object-fit: cover;
		
		z-index: 1;
	}
	
	.divider {
		position: absolute;
		margin-top: 1px;
		transform: translateX(-50%);
		width: 50vw;
		z-index: 5;
	}
	
	.project-tabs .tabs ul {
		display: flex;
		justify-content: center;
		margin-top: 80px;
		gap: 50px;
	}
	
	.project-tabs .tabs .tab-button {
		position: relative;
		padding: 15px 20px;
		
		border: none;
		cursor: pointer;
		
		color: var(--tab2-color);
		font-size: 2rem;
		font-weight: bold;
		
		z-index: 5;
	}
	
	.project-tabs .tabs .tab-button:nth-child(1) {
		background-image: url(../images/Button1.jpg);
		background-size: cover;
		background-position: center;
		
		z-index: 5;
	}
	
	.project-tabs .tabs .tab-button:nth-child(2) {
		background-image: url(../images/Button2.jpg);
		background-size: cover;
		background-position: center;
		
		z-index: 5;
	}
	
	.project-tabs .tabs .tab-button:nth-child(3) {
		background-image: url(../images/Button3.jpg);
		background-size: cover;
		background-position: center;
		
		z-index: 5;
	}
	
	.project-tabs .tabs .tab-button:nth-child(4) {
		background-image: url(../images/Button4.jpg);
		background-size: cover;
		background-position: center;
		
		z-index: 5;
	}
	
	
	/* When the half-press it */
	.project-tabs .tabs .tab-button:active {
		color: var(--light-color);
	}
	
	/* When they confirmed the press */
	.project-tabs .tabs .tab-button.active {
		color: var(--light-color);
	}
	
	
	/* Cursor Animation */	
	.project-tabs .tabs .tab-button:not(.active):hover {
		animation: glow 3s infinite alternate;
	}
	
	@keyframes glow {
		0% { box-shadow: 0 0 5px #666; }
		50% { box-shadow: 0 0 20px var(--tab2-color); }
		100% { box-shadow: 0 0 5px #666; }
	}
	
	.selector-img {
		/* Position it at the bottom left corner of button */
		position: absolute;
		bottom: -80px;
		left: -80px;
		
		
		height: 100px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
		
		z-index: 10;
	}
	
	
	/* If the tab is already selected, don't play hover animation */
	.project-tabs .tabs .tab-button:not(.active):hover .selector-img {
		opacity: 1;
	}
	
	
	
	/* Image when tab is selected */
	.selected-img {
		/* Position it at the bottom left corner of button */
		position: absolute;
		bottom: -35px;
		left: -45px;
		
		
		height: 50px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;		/* Match the transition time of selector-img */
		
		/* z-index: -1;		Doesn't work since its not in same container */
	}
	
	.tab-button.active .selected-img {
		opacity: 1;
	}
	
	
	/* --------------------------------------------- */
	/* Projects */
	.projects {
		padding: 40px 0;
	}
	
	/* Hide content by default */
	.tab-content {
		display: none;
	}
	
	.tab-content.active {
		display: block;
	}
	
	.projects-grid {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
	
	.projects .card {
		height: fit-content;
		
		text-align: left;
	}
	
	.projects .card .thumbnail {
		height: 400px;
	}
	
	.projects .card h1 {
		font-weight: bold;
		font-size: 1.8rem;
	}
	
	.projects p {
		font-size: 1.5rem;
	}
	
	
/* --------------------------------------------- */
	/* Footer */
	.footerbar {
		padding: 40px 0;
		background: rgb(44, 44, 62);
		color: var(--light-color);
	}
	
	.footerbar h1 {
		margin-bottom: 10px;
	}
	
	.footerbar ul li {
		font-size: 1.4rem;
		line-height: 1.5;
	}
	
	.footerbar i {
		margin-right: 10px;
	}
	
	.footerbar-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	
	
/* --------------------------------------------- */
/* Utility Classes */
	.container {
		max-width: 1500px;
		margin: 0 auto;		/* Put it in the middle */
		padding: 0 15px;	/* Top/bottom # , Left/Right # */
	}

	.container-med {
		max-width: 1200px;
		margin: 0 auto;		/* Put it in the middle */
		padding: 0 15px;	/* Top/bottom # , Left/Right # */
	}

	.container-sm {
		max-width: 1000px;
		margin: 0 auto;		/* Put it in the middle */
		padding: 0 15px;	/* Top/bottom # , Left/Right # */
	}
	
	.container-xsm {
		max-width: 500px;
		margin: 0 auto;		/* Put it in the middle */
		padding: 0 15px;	/* Top/bottom # , Left/Right # */
	}
	
/* Card */
	.card {
		border-radius: 10px;
		padding: 20px;
	}
	
/* Background */
	.bg-gray {
		background: #3c4863;
		color: #dcdcdc;
	}
	
	.bg-project {
		background: #5b6081;
		color: #fff;
	}
	
/* Media Queries */
	@media (max-width: 1300px) {
		.banner .banner-heading {
			margin: 50px 0 0 250px;
		}
		
		.tab-clouds {
			margin-bottom: -40px;
		}
		
		.divider {
			margin-top: 5px;
		}
		
		.project-tabs .tabs ul .tab-button {
			font-size: 1.8rem;
		}
	}
	
	@media (max-width: 1150px) {
		.project-tabs .tabs ul .tab-button {
			font-size: 1.4rem;
		}
	}
	
	@media (max-width: 1000px) {
		.project-tabs .tabs ul .tab-button {
			font-size: 1.2rem;
		}
	}

	@media (max-width: 900px) {
		.banner .container-full {
			background-position: -200px;
		}
		
		.banner .banner-heading {
			margin: 50px 0 0 125px;
		}
		
		.tab-clouds {
			margin-bottom: 30px;
		}
		
		.divider {
			margin-top: 40px;
		}
		
		.project-tabs {
		height: 160px;
		}
	
		.project-tabs .tabs ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px 10px;
		}
		
		.project-tabs .tabs ul .tab-button {
			width: 100%;
			font-size: 1.3rem;
		}
	
	}

	@media (max-width: 550px) {
		.banner .banner-heading {
			margin: 50px 0 0 50px;
		}
	}